$(function(){

    let $sendMailModal = $('#sendMailModal');
    $('#recipient-text').val('<%=  @admin.email %>');
    $('h4.modal-title').text('Enviar email para <%= @admin.name %>')

    $sendMailModal.modal();

    $sendMailModal.on('<%=l', function () {
        $('#subject-text').focus();
    })
});