<%= content_for :javascript do %>
    <%= javascript_include_tag 'site/profile/ads' %>
<% end %>

<h1><%= "#{t('messages.editing', model: @profile_member.model_name.human)}" %></h1>


<% if @profile_member.errors.any?%>
    <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>

    <ul>
        <% @profile_member.errors.full_messages.each do |message|%>
            <li><%= message %>
        <% end %>
    </ul>

    </div>
<% end %>

<%= form_for(@profile_member, url: site_profile_my_datum_path(@profile_member)) do |f|%>
    
    <div class="w-50">
        <div class="col-xs-6">
            <div class="form-group">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "form-control", placeholder: "Primeiro Nome" %>
            </div>
        </div>
    </div>  

    <div class="w-50">
        <div class="col-xs-6">
            <div class="form-group">
                <%= f.label :second_name %>
                <%= f.text_field :second_name, class: "form-control", placeholder: "Segundo Nome" %>
            </div>
        </div>
    </div>

    <div class="w-50">
        <div class="col-xs-3">
            <div class="form-group">
                <%= f.label :birthdate %>
                <%= f.text_field :birthdate, class: "form-control datepicker", value: (l(@profile_member.birthdate) unless @profile_member.birthdate.blank?) %>
            </div>
        </div>
    </div> 

    <%= submit_tag "#{t('messages.send')} ", class: "btn btn-primary" %>
<% end %>   