<%= form_tag site_comments_path do%>
  <div class="modal" id="commentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deixe seu comentário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <label>Comentário</label>
              <%= text_area :comment, :body, class:"form-control", rows: 5 %>
              <%= hidden_field :comment, :ad_id, value: @ad.id %>
          </div>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Enviar", class:"btn btn-primary" %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>