<% @ad.comments.each do |comment| %>
    <p><%= comment.body %></p>
    <small class="text-muted">Feito por <%= comment.member.email %> há  
                                        <%= time_ago_in_words(comment.created_at) %></small>
    <% if (current_member) && (comment.member.id == current_member.id) %>
        <%= rating_for_user @ad, current_member, 'quality' %>
    <% end %>
    <hr>
<% end %>