<div class="card mt-4">
  <%= image_tag @ad.picture.url(:large), class:"card-img-top img-fluid" %>
  <div class="card-body">
    <h3 class="card-title"><%= @ad.title %> </h3>
    <h4> <%= humanized_money_with_symbol @ad.price %> </h4>
    <%= @ad.description.html_safe %>
    </div>
</div>

<div class="card w-100 mt-4">
  <div class="card-body">
    <div class="ratings">
      <p class="pull-right"><%= @ad.rates('quality').count %> <%= t('labels.reviews') %></p>
      <%= rating_for @ad, 'quality' %>    
    </div>
  </div>
</div>

<!-- /.card -->
<div class="card card-outline-secondary w-100 my-4">
  <div class="card-header">
    Product Reviews
  </div>
  <div class="card-body">
    
    <% if member_signed_in? %>
      <div class="text-right">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#commentModal">
          Deixe um comentário
        </button>
      </div>
    <% else %>
      <div class="text-right">
        <%= link_to "Efetue login para comentar", new_member_session_path, class:"btn btn-success" %>
      </div>
    <% end %>

    <hr>

    <%= render partial: 'site/ad_detail/comments' %>

  </div>
</div>
<!-- /.card -->

<%= render partial: 'site/ad_detail/comment_modal' %>
