<% params[:controller] %>

<div class="container">    
        <div id="loginbox" style="<%= devise_sign_in? %> margin-top:50px;" class="mainbox mx-auto col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Login</div>
                        <div style="float:right; font-size: 80%; position: relative; top:-10px">
                            <%= link_to "Esqueceu sua senha?",  new_member_password_path %>
                        </div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            
                        
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form-horizontal") do |f| %>
            
                            <div style="margin-bottom: 25px" class="input-group">
                                <div class="input-group-prepend">
                                    <div class="pt-2 input-group-text fa fa-user"></div>
                                        <%= f.email_field :email, style:"width: 490px", autofocus: true, class:"form-control", placeholder:"Email" %>                                                                
                                </div>
                            </div>

                            <div style="margin-bottom: 25px" class="input-group">
                                <div class="input-group-prepend">
                                    <div class="pt-2 input-group-text fa fa-lock"></div>
                                        <%= f.password_field :password, style:"width: 490px", class:"col-auto form-control", placeholder:"Senha" %>
                                    </div>
                            </div>
                                                                                       
                            <div class="input-group">
                                      <div class="checkbox">
                                        <label>
                                          <% if devise_mapping.rememberable? %>
                                              <%= f.check_box :remember_me %>
                                              Lembrar-me
                                          <% end %>
                                        </label>
                                      </div>
                            </div>


                                <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    <div class="col-sm-12 controls">

                                      <%= f.submit "Entrar", class:"btn btn-success" %>

                                      <a id="btn-fblogin" href="#" class="btn btn-primary disabled">Login com Facebook</a>

                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 control">
                                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                            Não tem uma conta? 
                                        <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                            Cadastra-se aqui!
                                        </a>
                                        </div>
                                    </div>
                                </div>    
                            <% end %>     



                        </div>                     
                    </div>  
        </div>
        <div id="signupbox" style="<%= devise_sign_up? %> margin-top:50px" class="mainbox mx-auto col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading mb-4">
                            <div class="panel-title">Cadastra-se</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Login</a></div>
                        </div>  
                        <div class="panel-body" >
                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"form-horizontal") do |f| %>
                                 
                                <div class="form-group row">
                                    <%= f.label :email, class:"col-md-4 col-form-label control-label" %>
                                    <div class="col-md-8">
                                        <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"Email ", autocomplete: "email" %>
                                    </div>
                                </div>
                                
                                <%= f.fields_for :profile_member do |profile_fields| %>
                                    <div class="form-group row">
                                        <%= profile_fields.label :first_name, class:"col-md-4 col-form-label control-label" %>
                                        <div class="col-md-8">
                                            <%= profile_fields.text_field :first_name, class:"form-control", placeholder:"Primeiro Nome" %>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <%= profile_fields.label :second_name, class:"col-md-4 col-form-label control-label" %>
                                        <div class="col-md-8">
                                            <%= profile_fields.text_field :second_name, class:"form-control", placeholder:"Segundo Nome" %>
                                        </div>
                                    </div>

                                <% end %>
                                                                    
                              
                                <div class="form-group row">
                                    <%= f.label :password, class:"col-md-4 col-form-label control-label" %>
                                    <div class="col-md-8">
                                        <%= f.password_field :password, class:"form-control", placeholder:"Senha", autocomplete: "new-password" %>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <%= f.label :password_confirmation, class:"col-md-4 col-form-label control-label" %>
                                    <div class="col-md-8">
                                        <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação de Senha", autocomplete: "new-password" %>
                                    </div>
                                </div>                             
                               
                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <%= f.submit "Cadastra-se", class:"btn btn-info" do %>
                                        <i class="icon-hand-right"></i> Cadastra-se
                                    <% end %>
                                </div>                 
                                
                            <% end %>
                         </div>
                    </div>


<% flash.each do |key, value| %>
    <%=  javascript_tag "$.notify({message: '#{value}'}, 
    {type: 'danger', placement: { from:'top', align:'center' }});" %>
<% end %>

<% unless devise_error_messages!.blank? %>
    <% resource.errors.full_messages.each do |message|%>
    <%=  javascript_tag "$.notify({message: '#{message}'}, 
    {type: 'danger', placement: { from:'top', align:'center' }});" %>
    <% end %>        
<% end %>