<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EscamboApp</title>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'site', media: 'all' %>
    
     <%= csrf_meta_tags %>

</head>

<body>
  <div id="global-spin" class="loading" style="display:none;" >Loading&#8230;</div>
  <%= render partial: "layouts/site_shared/navigation" %>
  
  <!-- Page Content -->
  <div class="container">
    
    <%= form_tag site_search_path, method: :get do %>
      <div class="card card-block mt-3">
        <div class="card card-block mt-3 mb-3 mx-auto" style="width: 600px;">
          <div class="input-group">
                <%= text_field_tag(:q, params[:q], { class:"form-control", placeholder:"Pesquisar por..."}) %>
            <div class="input-group-append">
                <%= submit_tag("Pesquisar", class:"btn btn-outline-secondary") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">

      <%= render partial: 'layouts/site_shared/sidebar' %>

      <div id="home-detail" class="col-lg-9">
        <% if controller_path == 'site/home' %>
            <%= render partial: 'layouts/site_shared/carousel' %>
        <% end %>
        
        <div class="row">
              <%= yield %>
        </div>
        
      </div>
        
    </div>

  </div>
  <!-- /.container -->

  <%= render partial: "layouts/site_shared/footer" %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'site' %>

  <%= render partial: 'layouts/shared/notifications' %>


</body>

</html>
