<h1 class="page-header">Categorias</h1>
        <% if @category.errors.any? %>
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                
            <ul>
                <% @category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %> 
            </ul> 

            </div>
        <% end %>
        
    <div class="panel panel-default">
        <div class="panel-heading">
            <%= action %>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="col-lg-6">
                <%= form_for([:backoffice, @category]) do |f|%>
                    <div class="form-group">
                        <label>Descrição</label>
                        <%= f.text_field :description, class:"form-control", placeholder:"Animal/Pet"%>
                    </div>
                    <button type="submit" class="btn btn-default">Salvar</button>
                <% end %>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
