<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <%= link_to (image_tag @carousel.first.picture.url(:large)), site_ad_detail_path(@carousel.first), remote: true, data: { push: :partial}, class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
            <%= link_to (image_tag @carousel.second.picture.url(:large)), site_ad_detail_path(@carousel.second), remote: true, data: { push: :partial}, class:"d-block img-fluid" %>
        </div>
        <div class="carousel-item">
            <%= link_to (image_tag @carousel.third.picture.url(:large)), site_ad_detail_path(@carousel.third), remote: true, data: { push: :partial}, class:"d-block img-fluid" %>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
</div>