<!-- Footer -->
<footer class="py-5 bg-dark">
<div class="container">
    <p class="m-0 text-center text-white">Copyright EscamboApp &copy; Your Website <%= Date.today.year %> </p>
</div>
<!-- /.container -->
</footer>