<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <%= link_to "EscamboApp", site_home_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <% unless member_signed_in?%>
                    <li>
                        <%= link_to "Login", new_member_session_path, class: "nav-link" %>
                    </li>
                    <li>
                        <%= link_to "Cadastrar-se", new_member_registration_path, class: "nav-link" %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to current_member.email, "#", class: "nav-link" %>
                    </li>
                    <li>
                        <%= link_to "Perfil", site_profile_dashboard_index_path, class: "nav-link" %>
                    </li>
                    <li>
                        <%= link_to "Sair", destroy_member_session_path, method: :delete, class: "nav-link"  %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>