<div class="row">
<% @ads.each do |ad| %>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-55">
            <%= image_tag ad.picture.url(:medium) %>
            <div class="card-body">
                <h5><%= humanized_money_with_symbol ad.price %></h5>
                <h5><%= link_to truncate(ad.title, length: 20), site_ad_detail_path(ad), remote: true, data: { push: :partial } %></h5>
                <p class="card-text"><%= truncate(ad.description_short,length: 50) %></p>
                <div class="ratings">
                    <p class="pull-right"><%= ad.rates('quality').count %> <%= t('labels.reviews') %></p>
                    <%= rating_for ad, 'quality' %>
                </div>
            </div>
        </div>
    </div>
<% end %>
</div>

<div class="row">
    <div class="text-center">
        <%= paginate @ads %>
    </div>
</div>